body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
    margin-top: 50px;
}

/* Title */
h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

/* Status */
#status {
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
}

/* Board */
.board {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

/* Cells */
.cell {
    width: 110px;
    height: 110px;
    background: rgba(255,255,255,0.1);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.cell:hover {
    background: rgba(0,255,204,0.3);
    transform: scale(1.05);
}

/* Button */
button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff4b2b;
}